.bd-navbar {
    background-color: #000;
    min-height: 4rem;
    padding: 0 5rem;
}

.logo {
  color: #fff;
  margin: 0;
}

.logo-ibm {
  color: rgb(0,120,215);
}

.menu-link {
  color: #fff!important;
  border-bottom: 3px solid #000;
}

.menu-link:hover {
  color: #aeaeae!important;
  border-bottom: 3px solid rgb(0,120,215);
}

.title {
    color: rgb(0,120,215);
    font-size: 18px;
}
