<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.ListaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatoServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.CandidatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizacaoServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.AtualizacaoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CandidatosNaVagaServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.CandidatosNaVagaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaCandidatoServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.ListaCandidatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AtualizarCandidatoServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.AtualizarCandidatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarVagas</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.ConsultarVagas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoServlet</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.HistoricoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacancyReport</servlet-name>
        <servlet-class>com.ibm.ibmemploymentcontrolapp.services.VacancyReport</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaServlet</servlet-name>
        <url-pattern>/ListaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatoServlet</servlet-name>
        <url-pattern>/CandidatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizacaoServlet</servlet-name>
        <url-pattern>/AtualizacaoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CandidatosNaVagaServlet</servlet-name>
        <url-pattern>/CandidatosNaVaga</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaCandidatoServlet</servlet-name>
        <url-pattern>/ListaCandidatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AtualizarCandidatoServlet</servlet-name>
        <url-pattern>/AtualizarCandidatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoServlet</servlet-name>
        <url-pattern>/HistoricoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacancyReport</servlet-name>
        <url-pattern>/VacancyReport</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>faces/login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
